body {
  background-color: #BBFFFF
}
ul {
  display: flex;
  width: 100%;
}

li {
  background-color: white;
  list-style-type: none;
  padding: 0 5px
}

button {
  background-color: white;
  border-style : none;
  font-size: 15px;
  color: #999999
}



a {
  text-decoration: none;
  font-size: 15px;
  color: #999999
}
